{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    {% if title %}
        <title>blog_app - {{ title }}</title>
    {% else %}
        <title>blog_app</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="{% static 'blog/main.css' %}" rel="stylesheet">
</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'blog-home' %}">blog_app</a>
                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'blog-home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-about' %}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-underline ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog-create' %}">Create Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users-profile' %}">Profile</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users-logout' %}">Logout</a>
                        </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'users-register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=" {% url 'users-login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
        <div class="container-fluid">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="container mt-4">
            <div class="row">
                <main class="col-lg-9">
                            {% block content %}
                            {% endblock %}
                </main>
                    <aside class="col-lg-3">
                            {% block aside %}
                            
                            {% endblock %}
                    </aside>
            </div>

        </div>

        
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>