{% extends 'blog/base.html' %}
{% block content %}
    
    
 <article class="card mb-4 shadow-sm">
  <div class="card-body">
    <h2 class="card-title text-center text-decoration-none">{{ post.title }}</h2>
    <hr class="mb-4">
    <p class="card-text">{{ post.content|linebreaks }}</p>

    <div class="d-flex align-items-center justify-content-between mt-3">
      <div class="d-flex align-items-center">
        <img class="rounded-circle me-2" style="height: 25px; width: 25px;" src="{{ post.author.profile.image.url }}" alt="{{ post.author }}">
        <div>
          <a class="text-decoration-none" href="{% url 'user-blog' post.author.username %}" >{{ post.author }}</a><small class="text-body-secondary"> {{ post.date_posted|date:"F d, Y" }}</small>
         
        </div>
      </div>

      {% if post.author == user %}
      <div class="ms-auto d-flex align-items-center gap-1">
        <a class="btn btn-sm btn-outline-primary py-0 px-2" href="{% url 'blog-update' post.id %}">Update</a>
        <a class="btn btn-sm btn-outline-danger py-0 px-2" href="{% url 'blog-delete' post.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
  </div>
</article>

    

{% endblock content %}

{% block aside %}
    <div class="p-4 mb-4 bg-light rounded sticky-top" style="top: 20px;">
        <h4>About The Author</h4>
        <p>A short bio about who writes this blog. Welcome!</p>
    </div>

    <div class="p-4 bg-light rounded sticky-top" style="top: 150px;">
        <h4>Categories</h4>
        <ul class="list-unstyled mb-0">
            <li><a href="#">Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Food</a></li>
        </ul>
    </div>
{% endblock aside %}