{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-div">   
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="pb-2"> Are you sure you want to delete the post "{{ post.title }}"? </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3"> 
                <button type="submit" class="btn btn-outline-danger">Yes, Delete</button>
                <a href="{% url 'blog-detail' post.id %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}