{% extends 'blog/base.html' %}
{% block content %}
    <legend class="mb-4"> Blog Posts by {{  view.kwargs.username }} ({{ page_obj.paginator.count }})</legend>
    {% for post in posts%}
        <article class="card mb-4 shadow-sm">
            
            <div class="card-body">
                    <h2 class="card-title"><a class="text-decoration-none" href="{% url 'blog-detail' post.id %}" >{{ post.title }}</a></h2>
                    <p class="card-text">{{ post.content|truncatewords:50 }}...
                            {% if post.content|length > 300 %}
                                <a class="text-decoration-none" href="{% url 'blog-detail' post.id %}"><small style="font-size: 11px;">READ MORE >></small></a>
                            {% endif %}
                        
                    </p>
                    <div class="media-body">
                         <p class="card-text">
                            <br>
                            <img class="rounded-circle" style="height: 25px; width: 25px" src="{{ post.author.profile.image.url }}">
                            <a class="text-decoration-none" href="{% url 'user-blog' post.author.username %}">{{ post.author }}</a>
                            <small class="text-body-secondary">{{ post.date_posted|date:"F d, Y" }}</small>
                        </p>
                    </div>
                    
            </div>

        </article>
    {% endfor %}
    
    {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                {% if page_num == page_obj.number %}
                    <a class="btn btn-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>
                
                {% elif page_num > page_obj.number|add:'-3' and page_num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ page_num }}">{{ page_num }}</a>

                {% endif %}

            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

    {% endif %}

{% endblock content %}


{% block aside %}
    <div class="p-4 mb-4 bg-light rounded sticky-top" style="top: 20px;">
        <h4>About The Author</h4>
        <p>A short bio about who writes this blog. Welcome!</p>
    </div>

    <div class="p-4 bg-light rounded sticky-top" style="top: 150px;">
        <h4>Categories</h4>
        <ul class="list-unstyled mb-0">
            <li><a href="#">Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Food</a></li>
        </ul>
    </div>
{% endblock aside %}