{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container-div">  
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="pb-2"> Log In </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3"> 
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="text-decoration-none ml-3" href="{% url 'password_reset' %}">Forget Password?</a>
            </div>
        </form>
        <div class=" bottom-top pt-3">
            <small class="text-muted">
                Create an account? <a class="ml-2" href="{% url 'users-register' %}"> Sign Up</a>
            </small>
        </div>
    </div>

{% endblock content %}
