{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container-div">   
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="pb-2"> Are you sure you want to log out? </legend>
                
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3"> 
                <button type="submit" class="btn btn-primary">Logout</button>
                <a href="{% url 'blog-home' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
        
    </div>

{% endblock content %}