{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container-div">  
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="pb-2"> Reset Your Password </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3"> 
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>

    </div>

{% endblock content %}
