{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container-div">  
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" >
                <legend class="pb-2"> We need to verify your identity </legend>
                <p>To keep your acount safe, we need to verify that its really you. <br>Enter your email and click "Reset Password" to receive your token.</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group pt-3"> 
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </div>
        </form>

    </div>

{% endblock content %}
