{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="d-flex align-items-center my-4 p-3 border rounded shadow-sm" style="max-width: 800px; margin: auto;">
  <img src="{{ user.profile.image.url }}" class="rounded-circle me-3 flex-shrink-0" alt="{{ user.username }}" width="125" height="125">
    <div class="flex-grow-1">
        <h2 class="mt-0 mb-1">{{ user.username }}</h2>
        <p class="text-muted mb-1">{{ user.email }}</p>
        <p class="mt-4">
            Welcome back, <strong>{{ user.first_name|default:user.username }}</strong>!
            Manage your posts, profile, and settings below.
        </p>
    </div>
</div>
<div class="d-flex align-items-center my-4 p-3 border rounded shadow-sm" style="max-width: 800px; margin: auto;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="pb-2"> Profile Information </legend>
            {{ user_update_form|crispy }}
            {{ profile_update_form|crispy }}
        </fieldset>
        <div class="form-group pt-3"> 
            <button type="submit" class="btn btn-primary mt-4">Update</button>
        </div>
    </form>
</div>


{% endblock content %}

{% block aside %}
    <div class="p-4 mb-4 bg-light rounded sticky-top" style="top: 20px;">
        <h4> {{ user.username }}'s Blogs</h4>
        <p>Your most recent blogs:</p>
        {% for post in posts %}
            <p>{{ post.title }}</p>
        {% endfor %}
        <p>A short bio about who writes this blog. Welcome!</p>
    </div>


{% endblock aside %}